// black
$black-100: #000000;
$black-90: #040404;
$black-80: #070708;
$black-70: #0b0b0b;
$black-60: #0f0f0f;
$black-50: #121213;
$black-40: #161617;
$black-30: #1a1a1b;
$black-20: #151515;
$black-10: #212122;
// white
$white-100: #ffffff;
$white-90: #eaeaea;
$white-80: #d3d3d4;
$white-70: #bebebe;
$white-60: #a8a8a8;
$white-50: #929293;
$white-40: #7c7c7d;
$white-30: #676768;
$white-20: #515151;
$white-10: #3b3b3c;
